@media screen and (min-width: 900px){
    
    #c .table{
        display: grid;
        grid-template-rows: 1fr ;
        grid-template-columns: 1fr 1fr;
    }
.title{
    background-color: rgb(208, 208, 208);
    padding: 40px;
    font-size: 30px;
    max-height: 30vh;
    display: grid;
    grid-template-columns: 5fr 2fr 2fr 2fr;
    text-decoration: none;
}
.heading{
    font-size: 40px;
    font-weight: bolder;
}
.no{
    text-decoration: none;
    color: black;
    text-decoration: underline;
}
html,body{
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
.selector{
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    min-height: 50vh;
    min-width: 90vw;
    max-width: 100vw;
    max-height: 70vh;
    overflow: auto;
}
.table{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.box{
    width: 100%;
    padding-top: 100%; /* 1:1 Aspect Ratio */
    position: relative; /* If you want text inside of it */
}
.text {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: grid;
    grid-template-rows: 10fr 1fr 1fr;
    text-align: center;
    background-color: rgb(255, 255, 255);
    margin: 10px;
    border: 2px solid black;
    border-radius: 20px;
  }
  img{
    width: 70%;
    margin: auto;
  }
  .text h3,.text h5{
    border-bottom: 2px solid rgb(0, 0, 0);
    border-top: 2px solid rgb(0, 0, 0);
  }
}
@media screen and (max-width: 900px){
    #c .table{
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
    }
.title{
    background-color: rgb(208, 208, 208);
    padding: 40px;
    font-size: 30px;
    max-height: 30vh;
    z-index: 2;
    text-decoration: none;
}
.heading{
    font-size: 40px;
    font-weight: bolder;
}
.no{
    text-decoration: none;
    color: black;
    text-decoration: underline;
}
html,body{
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
.selector{
    width: 100vw;
    min-height: 60vh;
}
.table{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.box{
    width: 100%;
    position: relative; /* If you want text inside of it */
}
.text {

    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 10px;
    border: 2px solid black;
    border-radius: 20px;
  }
  img{
    width: 70%;
    margin: auto;
  }
  .text h3,.text h5{
    border-top: 2px solid rgb(0, 0, 0);
    margin-bottom: 3px;
  }
  #c .table select{
    font-size: 20px;
}
}
.regular{
    width: 847px;
    background-color: rgb(255, 255, 255);
    height: 100%;
    position: absolute;
    z-index: 1;
    text-align: center;
    width: 100%;
}
#i{
    display:none;
    text-align: center;
}
#r{
    display:none;
}
.output{
    margin:auto;
    margin-top: 50px;
    background-color: rgb(233, 233, 233);
    padding: 10px;
    max-width: 89vw;
    text-align: right;
    font-size: 50px;
    height: 60px;
    overflow: auto;
    border-radius: 20px;
    margin-bottom: 20px;
}
.buttonf{
    width: 100%;
    margin: auto;
    text-align: center;
    font-size: 0px
}
.buttonr button{
    background-color: rgb(198, 198, 198);
    width: calc(90vw / 4);
    height: calc(50vh / 3);
    font-size: 30px;
    border: 3px solid white;
    border-radius: 10px;
}
.x button{
    height: 50px;
    width: 70px;
    display: block;
    position: fixed;
}
#i form{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 90%;
    margin: auto;
    height: 90%;
}
@media screen and (min-width: 900px){
#i form button{

    background-color: white;
    border: none;
    font-size: 30px;
    padding: 0px;
    border-radius: 0px 0px 0px 0px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
#i form input[type=number]{
    font-size: 70px;
}
}
@media screen and (max-width: 900px){
    #i form button{
        background-color: white;
        border: none;
        font-size: 20px;
        padding: 0px;
        border-radius: 0px 0px 0px 0px;
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
    }}
#i button{
    padding: 20px;
    font-size: 40px;
    border-radius: 20px 0px 20px 0px;
    background-color: rgb(148, 148, 148);
    color: white;
    text-align: center;
    margin: auto;
}
#rest{
    display: none;
    text-align: center;
}
#i #rest table{
    width: 100%;
border-collapse: collapse;
}
#i #rest table td{
    font-size: 30px;
    border: 5px solid rgb(255, 255, 255);
background-color: rgb(219, 219, 219);
border-radius: 20px;
}
#i #rest table th{
    font-size: 40px;
}